Repository 3uclid3/path-of-crafting: changes, and which Codecov flags are due for each by the changed paths.
All: core, item, workspace

feat(signal): add type-erased connection wrapper
  lib/core/poc.core/signal.cpp
  lib/core/poc.core/signal.hpp
  tests/unit/core/poc.core/signal_tests.cpp
Due: core

fix(signal): correct storage data reference in move constructor
  lib/core/poc.core/signal.cpp
Due: core

fix(signal): include <new> header for std::launder
  lib/core/poc.core/signal.hpp
Due: core

feat(signal): add type-erased connection wrapper (#19)
  lib/core/poc.core/signal.cpp
  lib/core/poc.core/signal.hpp
  tests/unit/core/poc.core/signal_tests.cpp
Due: core

feat(workspace)!: add history & item details
  app/poc/main.cpp
  app/poc/xmake.lua
  codecov.yml
  extensions/history/poc.history/drawer.cpp
  extensions/history/poc.history/drawer.hpp
  extensions/history/poc.history/extension.cpp
  extensions/history/poc.history/extension.hpp
  extensions/history/xmake.lua
  extensions/item_detail/poc.item_detail/drawer.cpp
  extensions/item_detail/poc.item_detail/drawer.hpp
  extensions/item_detail/poc.item_detail/extension.cpp
  extensions/item_detail/poc.item_detail/extension.hpp
  extensions/item_detail/xmake.lua
  extensions/xmake.lua
  lib/core/poc.core/assert.hpp
  lib/workspace/poc.workspace/context.cpp
  lib/workspace/poc.workspace/context.hpp
  lib/workspace/poc.workspace/extension.hpp
  lib/workspace/poc.workspace/host.cpp
  lib/workspace/poc.workspace/host.hpp
  lib/workspace/poc.workspace/item_id.hpp
  lib/workspace/poc.workspace/selection.hpp
  tests/unit/workspace/poc.workspace/drawer_registry_tests.cpp
Due: core, workspace

test(extension): add unit tests for track_extension functionality
  tests/unit/workspace/poc.workspace/extension_tests.cpp
Due: none

feat(workspace)!: History & item details (#20)
  app/poc/main.cpp
  app/poc/xmake.lua
  codecov.yml
  extensions/history/poc.history/drawer.cpp
  extensions/history/poc.history/drawer.hpp
  extensions/history/poc.history/extension.cpp
  extensions/history/poc.history/extension.hpp
  extensions/history/xmake.lua
  extensions/item_detail/poc.item_detail/drawer.cpp
  extensions/item_detail/poc.item_detail/drawer.hpp
  extensions/item_detail/poc.item_detail/extension.cpp
  extensions/item_detail/poc.item_detail/extension.hpp
  extensions/item_detail/xmake.lua
  extensions/xmake.lua
  lib/core/poc.core/assert.hpp
  lib/gui/poc.gui/detail/cstr.cpp
  lib/workspace/poc.workspace/context.cpp
  lib/workspace/poc.workspace/context.hpp
  lib/workspace/poc.workspace/extension.hpp
  lib/workspace/poc.workspace/host.cpp
  lib/workspace/poc.workspace/host.hpp
  lib/workspace/poc.workspace/item_id.hpp
  lib/workspace/poc.workspace/selection.hpp
  tests/unit/workspace/poc.workspace/drawer_registry_tests.cpp
  tests/unit/workspace/poc.workspace/extension_tests.cpp
Due: core, workspace

feat(recorder): add Windows clipboard-based recorder app
  .github/workflows/build-images.yml
  .github/workflows/build-test.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/nightly.yml
  .github/workflows/sanitizers.yml
  AGENTS.md
  CHANGELOG.md
  Dockerfile
  README.md
  app/recorder/src/main.cpp
  lib/include/poc/clipboard.hpp
  lib/include/poc/item.hpp
  lib/include/poc/platform.hpp
  lib/include/poc/return_true.hpp
  lib/src/clipboard.cpp
  lib/src/item.cpp
  lib/src/platform.cpp
  lib/src/return_true.cpp
  lib/xmake.lua
  tests/unit/src/item.unit.cpp
  tests/unit/src/return_true.unit.cpp
Due: none

ci: replace parallel xmake invocation with 'xmake build' in GitHub workflow
  .github/workflows/build-test.yml
Due: none

feat(recorder): replace manual argv parsing with argparse CLI and add output/verbose options
  app/recorder/src/main.cpp
  app/recorder/xmake.lua
  xmake.lua
Due: none

feat(recorder): include for formatting utilities
  app/recorder/src/main.cpp
Due: none

feat(recorder): replace manual argv parsing with argparse CLI and add output/verbose options (#4)
  app/recorder/src/main.cpp
  app/recorder/xmake.lua
  xmake.lua
Due: none

fix(recorder): stream clipboard entries directly
  app/recorder/src/main.cpp
Due: none

fix(recorder): stream clipboard entries directly (#5)
  app/recorder/src/main.cpp
Due: none

fix(recorder): use atomic running flag and proper console handler to ensure clean shutdown and flush output
  app/recorder/src/main.cpp
  lib/include/poc/platform.hpp
  lib/src/platform.cpp
Due: none

fix(recorder): remove obsolete on_exit handler
  app/recorder/src/main.cpp
Due: none

fix(recorder): include in main.cpp
  app/recorder/src/main.cpp
Due: none

Fixes recorder shutdown and directs clipboard output to stream (#6)
  app/recorder/src/main.cpp
  lib/include/poc/platform.hpp
  lib/src/platform.cpp
Due: none

feat(alerter): add clipboard-based alerter app; refactor platform/event handling and item API
  app/alerter/src/main.cpp
  app/alerter/xmake.lua
  app/recorder/src/main.cpp
  app/xmake.lua
  assets/sounds/alert.wav
  lib/include/poc/item.hpp
  lib/include/poc/platform.hpp
  lib/src/item.cpp
  lib/src/platform.cpp
  lib/xmake.lua
  tests/unit/src/item.unit.cpp
Due: none

feat(alerter): add clipboard-based alerter app; refactor platform/event handling and item API (#7)
  app/alerter/src/main.cpp
  app/alerter/xmake.lua
  app/recorder/src/main.cpp
  app/xmake.lua
  assets/sounds/alert.wav
  lib/include/poc/item.hpp
  lib/include/poc/platform.hpp
  lib/src/item.cpp
  lib/src/platform.cpp
  lib/xmake.lua
  tests/unit/src/item.unit.cpp
Due: none

fix(recorder): ignore consecutive duplicate magic item blobs
  app/recorder/src/main.cpp
Due: none

fix(recorder): ignore consecutive duplicate magic item blobs (#8)
  app/recorder/src/main.cpp
Due: none

Path conditions:
  core: any of: lib/core/**, but not: extensions/gui.demo/**, lib/app/**, lib/gui/**, lib/platform/**
  item: any of: lib/item/**, but not: extensions/gui.demo/**, lib/app/**, lib/gui/**, lib/platform/**
  workspace: any of: lib/workspace/**, but not: extensions/gui.demo/**, lib/app/**, lib/gui/**, lib/platform/**
