Repository 3uclid3/path-of-crafting: changes, and which Codecov flags are due for each by the changed paths.
All: core, item, workspace

feat(workspace)!: return refs from add_extension
  lib/app/poc.app/app.hpp
  lib/workspace/poc.workspace/host.cpp
  lib/workspace/poc.workspace/host.hpp
Due: workspace

test(workspace): add host tests
  tests/unit/workspace/poc.workspace/host_tests.cpp
  tests/unit/workspace/poc.workspace/ingester_tests.cpp
Due: none

ci: Add caching for xmake packages to improve build performance
  .github/workflows/ci.yml
Due: none

ci: update permissions to allow write access for actions
  .github/workflows/ci.yml
Due: none

ci: Add caching for xmake packages to improve build performance (#9)
  .github/workflows/ci.yml
Due: none

fix(hash): update hash function to use underlying() instead of get()
  lib/core/poc.core/utility/tagged.hpp
Due: core

fix(host): improve extension removal logic in remove_extension()
  lib/workspace/poc.workspace/host.cpp
Due: workspace

fix(drawer_registry): update indices after drawer insertion in add()
  lib/workspace/poc.workspace/drawer_registry.cpp
  tests/unit/workspace/poc.workspace/drawer_registry_tests.cpp
Due: workspace

fix(item_id_traits): update version increment logic in next() to use modulo
  lib/workspace/poc.workspace/item_id_traits.hpp
Due: workspace

fix(codecov): update coverage thresholds from 1% to 5%
  codecov.yml
Due: none

fix(ingester): replace atomic<bool> with bool for running state management
  lib/workspace/poc.workspace/ingester.cpp
  lib/workspace/poc.workspace/ingester.hpp
Due: workspace

chore: remove unused includes across multiple files
  extensions/gui.demo/poc.gui.demo/extension.hpp
  lib/core/poc.core/signal.hpp
  lib/core/poc.core/string/string_arena.hpp
  lib/core/poc.core/types.hpp
  lib/item/poc.item/influence_kind.hpp
  lib/item/poc.item/item.hpp
  lib/item/poc.item/item_line_index.cpp
  lib/item/poc.item/item_line_index.hpp
  lib/item/poc.item/item_parser.hpp
  lib/item/poc.item/modifier_kind.hpp
  lib/item/poc.item/modifier_tier.hpp
  lib/workspace/poc.workspace/ingester.hpp
  lib/workspace/poc.workspace/item_id.hpp
  lib/workspace/poc.workspace/item_id_traits.hpp
  lib/workspace/poc.workspace/item_repository.hpp
  tests/unit/core/poc.core/container/static_vector_tests.cpp
  tests/unit/core/poc.core/string/test_string.hpp
  tests/unit/core/poc.core/utility/bitmask_tests.cpp
  tests/unit/item/poc.item/item_parser_tests.cpp
  tests/unit/workspace/poc.workspace/drawer_registry_tests.cpp
  tests/unit/workspace/poc.workspace/ingester_tests.cpp
  tests/unit/workspace/poc.workspace/item_repository_tests.cpp
Due: core, item, workspace

chore: remove unused includes across multiple files (#11)
  extensions/gui.demo/poc.gui.demo/extension.hpp
  lib/core/poc.core/signal.hpp
  lib/core/poc.core/string/string_arena.hpp
  lib/core/poc.core/types.hpp
  lib/item/poc.item/influence_kind.hpp
  lib/item/poc.item/item.hpp
  lib/item/poc.item/item_line_index.cpp
  lib/item/poc.item/item_line_index.hpp
  lib/item/poc.item/item_parser.hpp
  lib/item/poc.item/modifier_kind.hpp
  lib/item/poc.item/modifier_tier.hpp
  lib/workspace/poc.workspace/ingester.hpp
  lib/workspace/poc.workspace/item_id.hpp
  lib/workspace/poc.workspace/item_id_traits.hpp
  lib/workspace/poc.workspace/item_repository.hpp
  tests/unit/core/poc.core/container/static_vector_tests.cpp
  tests/unit/core/poc.core/string/test_string.hpp
  tests/unit/core/poc.core/utility/bitmask_tests.cpp
  tests/unit/item/poc.item/item_parser_tests.cpp
  tests/unit/workspace/poc.workspace/drawer_registry_tests.cpp
  tests/unit/workspace/poc.workspace/ingester_tests.cpp
  tests/unit/workspace/poc.workspace/item_repository_tests.cpp
Due: core, item, workspace

fix: include <array> in item_parser.hpp for proper functionality
  lib/item/poc.item/item_parser.hpp
Due: item

fix(parser): add missing array include (#12)
  lib/item/poc.item/item_parser.hpp
Due: item

refactor(extensions)!: rename gui.demo to gui_demo
  app/poc/main.cpp
  app/poc/xmake.lua
  extensions/gui_demo/poc.gui_demo/extension.cpp
  extensions/gui_demo/poc.gui_demo/extension.hpp
  extensions/gui_demo/xmake.lua
  extensions/xmake.lua
Due: none

fix(extension): use static_id instead of hardcoded string in add_drawer
  extensions/gui_demo/poc.gui_demo/extension.cpp
Due: none

refactor(extensions)!: rename gui.demo to gui_demo (#13)
  app/poc/main.cpp
  app/poc/xmake.lua
  extensions/gui_demo/poc.gui_demo/extension.cpp
  extensions/gui_demo/poc.gui_demo/extension.hpp
  extensions/gui_demo/xmake.lua
  extensions/xmake.lua
Due: none

refactor(signal)!: introduce connector-based API
  lib/core/poc.core/signal.hpp
  tests/unit/core/poc.core/signal_tests.cpp
Due: core

refactor(signals): change signal return types to connector types
  lib/workspace/poc.workspace/item_repository.cpp
  lib/workspace/poc.workspace/item_repository.hpp
  lib/workspace/poc.workspace/selection.cpp
  lib/workspace/poc.workspace/selection.hpp
Due: workspace

test(signal): add tests for basic_signal_connector with object pointer and reference
  lib/core/poc.core/signal.hpp
  tests/unit/core/poc.core/signal_tests.cpp
Due: core

refactor(signal): use defaulted move constructor and assignment operator in basic_signal_connector
  lib/core/poc.core/signal.hpp
Due: core

refactor(tests): simplify connection checks in basic_signal_connector tests
  tests/unit/core/poc.core/signal_tests.cpp
Due: none

refactor(signal)!: expose connectors, not signals (#14)
  lib/core/poc.core/signal.hpp
  lib/workspace/poc.workspace/item_repository.cpp
  lib/workspace/poc.workspace/item_repository.hpp
  lib/workspace/poc.workspace/selection.cpp
  lib/workspace/poc.workspace/selection.hpp
  tests/unit/core/poc.core/signal_tests.cpp
Due: core, workspace

refactor(gui)!: merge core, pluggable backend
  app/poc/main.cpp
  app/poc/xmake.lua
  codecov.yml
  extensions/gui.debug/poc.gui.debug/extension.cpp
  extensions/gui.debug/poc.gui.debug/extension.hpp
  extensions/gui.debug/xmake.lua
  extensions/xmake.lua
  lib/app/poc.app/app.cpp
  lib/app/xmake.lua
  lib/core/poc.core/types.hpp
  lib/gui.backend/current/poc.gui.backend/def.hpp
  lib/gui.backend/current/poc.gui.backend/frame.hpp
  lib/gui.backend/current/poc.gui.backend/setup.hpp
  lib/gui.backend/current/xmake.lua
  lib/gui.backend/sdl3_opengl/poc.gui.backend.sdl3_opengl/frame.cpp
  lib/gui.backend/sdl3_opengl/poc.gui.backend.sdl3_opengl/frame.hpp
  lib/gui.backend/sdl3_opengl/poc.gui.backend.sdl3_opengl/setup.cpp
  lib/gui.backend/sdl3_opengl/poc.gui.backend.sdl3_opengl/setup.hpp
  lib/gui.backend/sdl3_opengl/xmake.lua
  lib/gui.backend/xmake.lua
  lib/gui/backend/sdl3_opengl/xmake.lua
  lib/gui/backend/xmake.lua
  lib/gui/core/poc.gui.core/demo.cpp
  lib/gui/core/poc.gui.core/demo.hpp
  lib/gui/core/xmake.lua
  lib/gui/poc.gui/debug.cpp
  lib/gui/poc.gui/debug.hpp
  lib/gui/poc.gui/frame.cpp
  lib/gui/poc.gui/frame.hpp
  lib/gui/poc.gui/setup.cpp
  lib/gui/poc.gui/setup.hpp
  lib/gui/poc.gui/widgets.cpp
  lib/gui/poc.gui/widgets.hpp
  lib/gui/xmake.lua
  lib/xmake.lua
  xmake.lua
Due: core

refactor(gui)!: split API and centralize c-string
  lib/gui/poc.gui/detail/cstr.cpp
  lib/gui/poc.gui/detail/cstr.hpp
  lib/gui/poc.gui/scope.cpp
  lib/gui/poc.gui/scope.hpp
  lib/gui/poc.gui/widgets.cpp
  lib/gui/poc.gui/widgets.hpp
  lib/gui/poc.gui/window.cpp
  lib/gui/poc.gui/window.hpp
Due: none

feat(utility): add constexpr CRC32 and literal
  lib/core/poc.core/utility/crc32.hpp
  tests/unit/core/poc.core/utility/crc32_tests.cpp
Due: core

feat(utility): add constexpr CRC32 (#16)
  lib/core/poc.core/utility/crc32.hpp
  tests/unit/core/poc.core/utility/crc32_tests.cpp
Due: core

refactor(workspace)!: adopt tagged CRC32 IDs
  extensions/gui.debug/poc.gui.debug/extension.cpp
  extensions/gui.debug/poc.gui.debug/extension.hpp
  lib/core/poc.core/utility/tagged.hpp
  lib/workspace/poc.workspace/context.hpp
  lib/workspace/poc.workspace/drawer.hpp
  lib/workspace/poc.workspace/extension.hpp
  lib/workspace/poc.workspace/item_id.hpp
  tests/unit/workspace/poc.workspace/drawer_registry_tests.cpp
  tests/unit/workspace/poc.workspace/host_tests.cpp
Due: core, workspace

refactor(workspace): Removes unused header include
  lib/workspace/poc.workspace/extension.hpp
Due: workspace

refactor(workspace)!: adopt tagged CRC32 IDs (#17)
  extensions/gui.debug/poc.gui.debug/extension.cpp
  extensions/gui.debug/poc.gui.debug/extension.hpp
  lib/core/poc.core/utility/tagged.hpp
  lib/workspace/poc.workspace/context.hpp
  lib/workspace/poc.workspace/drawer.hpp
  lib/workspace/poc.workspace/extension.hpp
  lib/workspace/poc.workspace/item_id.hpp
  tests/unit/workspace/poc.workspace/drawer_registry_tests.cpp
  tests/unit/workspace/poc.workspace/host_tests.cpp
Due: core, workspace

feat(workspace): introduce action dispatcher
  lib/workspace/poc.workspace/action.hpp
  lib/workspace/poc.workspace/action_dispatcher.cpp
  lib/workspace/poc.workspace/action_dispatcher.hpp
  tests/unit/workspace/poc.workspace/action_dispatcher_tests.cpp
Due: workspace

fix(action-dispatcher): Adds functional header
  lib/workspace/poc.workspace/action_dispatcher.hpp
Due: workspace

fix(workspace): make static_assert dependent
  lib/core/poc.core/utility/always_false.hpp
  lib/workspace/poc.workspace/action_dispatcher.hpp
Due: core, workspace

fix(workspace): Asserts idle before binding
  lib/workspace/poc.workspace/action_dispatcher.hpp
Due: workspace

fix(action-dispatcher): wrap move_only_function
  lib/core/poc.core/utility/move_only_function.hpp
  lib/workspace/poc.workspace/action_dispatcher.hpp
Due: core, workspace

feat(workspace): introduce action dispatcher (#18)
  lib/core/poc.core/utility/always_false.hpp
  lib/core/poc.core/utility/move_only_function.hpp
  lib/workspace/poc.workspace/action.hpp
  lib/workspace/poc.workspace/action_dispatcher.cpp
  lib/workspace/poc.workspace/action_dispatcher.hpp
  tests/unit/workspace/poc.workspace/action_dispatcher_tests.cpp
Due: core, workspace

fix(cstr): Fix name format_cstr to vformat_cstr
  lib/gui/poc.gui/detail/cstr.cpp
Due: none

Path conditions:
  core: any of: lib/core/**, but not: extensions/gui.demo/**, lib/app/**, lib/gui/**, lib/platform/**
  item: any of: lib/item/**, but not: extensions/gui.demo/**, lib/app/**, lib/gui/**, lib/platform/**
  workspace: any of: lib/workspace/**, but not: extensions/gui.demo/**, lib/app/**, lib/gui/**, lib/platform/**
